# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
.venv/
.env

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
